.bg-color-blue1 {
  background-color: #026aa7;
}

.bg-color-blue2 {
  background-color: var(--bg-color-blue2);
}

.bg-color-blue3 {
  background-color: var(--bg-color-blue3);
}

.bg-color-blue4 {
  background-color: #0079bf;
}

.color-white {
  color: white;
}
