/* top */
.margin-top-md {
  margin-top: var(--margin-md);
}

.margin-top-sm {
  margin-top: var(--margin-sm);
}

/* bottom */
.margin-bottom-md {
  margin-bottom: var(--margin-md);
}

/* right */
.margin-right-md {
  margin-right: var(--margin-md);
}

.margin-right-sm {
  margin-right: var(--margin-sm);
}

/* left */
.margin-left-md {
  margin-left: var(--margin-md);
}

/* width */
.margin-width-md {
  margin-left: var(--margin-md);
  margin-right: var(--margin-md);
}
